body{
background-color: black;
}

img{
		vertical-align: middle;
	position: relative;
	display: inline-block; 
	height: 570px; 
	opacity: 0.4;
	margin: 50px;
	width: 1200px;
	margin-left: 60px; 
}
#name{
	position: absolute;
	top:200px;
	text-align: center; 	
	font-size: 24px;
	color: white;
	left: 30%;
}
#input{
	width: 500px;
	border-radius: 24px;
	border:3px solid white;
	color: white;
	padding: 20px;
	background-color: transparent;
	outline: none;
}
#input::placeholder{
	color: white;
	font-size: 20px;

}
.g-signin2{
	position: absolute;
	top: 350px;
	left: 50%;
	width: 400px;
}
